body {
  background-image: linear-gradient(#915830,#ecd2ba);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body {
    color: darkviolet;
}

body {
    text-align: center;
}